@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Roulette Game</h1>
    <p>Please <a asp-controller="Account" asp-action="Register">Register</a> or <a asp-controller="Account" asp-action="Login">Login</a> to play the roulette game.</p>
</div>
